<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusNotifier.ConfigSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BusNotifier.ConfigSettings>
            <setting name="StopNumber" serializeAs="String">
                <value>3057</value>
            </setting>
            <setting name="RouteNumber" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RouteUniqueIdentifier" serializeAs="String">
                <value>492</value>
            </setting>
            <setting name="EnableAlerts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertStart" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AlertEnd" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AlertWhenETA" serializeAs="String">
                <value>5</value>
            </setting>
        </BusNotifier.ConfigSettings>
    </userSettings>
</configuration>